language: groovy

jdk:
  - oraclejdk8

script:
  - ./gradlew clean build sonarqube -Dsonar.login=$sonarqube_token -Dsonar.url=https://sonarqube.com

before_install:
  - chmod +x gradlew

after_success:
- "./gradlew jacocoTestReport coveralls --debug"
- "./gradlew publishPlugins"
